.wlmsf { 
  border-bottom-width: 60px;
  margin-right: 12px;
  margin-right: 5px;
  border-bottom-width: 37px;
  margin-bottom: 64px;
  margin-left: 57px;
  border-bottom-width: 73px;
  border-top-width: 96px;
  padding-bottom: 36px;
  padding-top: 84px;
  padding-right: 17px;
  border-left-width: 65px;
  padding-top: 7px;
}
